<div class="row">
  <div class="span8 offset2">
    <table class="table table-condensed table-hover table-bordered">
      <thead>
      <tr>
        <td>Name</td>
        <td>Pupils count</td>
        <td>Duration</td>
        <td>$ per pupil</td>
      </tr>
      </thead>
    </table>
  </div>
</div>