<div class="row">
  <div class="span8 offset2">
    <table class="table table-condensed table-hover table-bordered">
      <thead>
      <tr>
        <td>Name</td>
        <td>Pupils count</td>
        <td>Duration</td>
        <td>$ per pupil</td>
      </tr>
      </thead>

      <% @lesson_types.each do |lesson_type| %>
          <tr>
            <td><%= lesson_type.name %></td>
            <td><%= lesson_type.pupils_count %></td>
            <td><%= lesson_type.duration %></td>
            <td><%= lesson_type.price_per_student %></td>
          </tr>
      <% end %>

    </table>
  </div>
</div>