<div id="calendar"></div>

<script type="text/javascript">
    $(document).ready(function() {

        $('#calendar').fullCalendar({
            firstDay: 1,
            defaultView: 'month',
            allDaySlot: false,
            firstHour: 8,
            minTime: '8:00am',
            timeFormat: {
                agenda: 'HH:mm{ - HH:mm}',
                '': 'HH:mm{ - HH:mm}',
            },
            selectable: true,
            slotMinutes: 15,
            editable: true,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek'
            },
            select: function( startDate, endDate, allDay, jsEvent, view )
            {
                if(!allDay)
                {
                    var start = $.fullCalendar.formatDate(startDate, 'dd.MM.yyyy HH:mm');
                    console.log('startDate', startDate);
                    console.log('endDate', endDate);
                    console.log('allDay', allDay);
                    console.log('jsEvent', jsEvent);
                    console.log('view', view);
                    window.location.href = '<%= new_lesson_url %>?start='+start;
                }
            },
            eventMouseover: function(event, jsEvent, view)
            {
            },
            eventMouseout: function(event, jsEvent, view)
            {
            },
            eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc)
            {
                $.ajax('lessons/update_lesson', {
                    data: {
                        minute_delta: minuteDelta,
                        day_delta: dayDelta,
                        lesson_id: event.lesson_id
                    },
                    method: 'POST',
                    success: function(data)
                    {
                        $('#calendar').fullCalendar('refetchEvents');
                    },
                });


                console.log(event.title + " was moved " + dayDelta + " days and " + minuteDelta + " minutes.");

            },
            columnFormat: {
                month: 'ddd',    // Mon
                week: 'dddd dd.MM', // Mon 9/7
                day: 'dddd dd.MM'  // Monday 9/7
            },
            dayClick: function(date, allDay, jsEvent, view)
            {
                $('#calendar').fullCalendar('gotoDate', date);
                $('#calendar').fullCalendar('changeView', 'agendaWeek');
            },
            eventClick: function(calEvent, jsEvent, view)
            {
                alert('Event: ' + calEvent.lesson_id);
                $('#calendar').fullCalendar('updateEvent', calEvent);
            },
            eventAfterRender: function(event, element, view)
            {
                var del_div = $('<i/>',
                        {
                            css: {
                                position: 'absolute',
                                right: '5px',
                                top: '2px',
                                zIndex: 8888,
                            },
                            class: 'icon-remove',
                        });
                del_div.bind('click', function()
                {
                    if(!confirm('Are you sure?'))
                    {
                        return false;
                    }

                    console.log(event.lesson_id);

                    $.ajax('lessons/'+event.lesson_id, {
                        method: 'DELETE',
                        data: { lesson_id: event.lesson_id },
                        success: function(data){
                            $('#calendar').fullCalendar('refetchEvents');
                        },
                    });
                    return false;
                });
                var ok_div = $('<i/>',
                        {
                            css: {
                                position: 'absolute',
                                right: '20px',
                                top: '2px',
                                zIndex: 8888,
                            },
                            class: 'icon-ok',
                        });
                ok_div.bind('click', function(event)
                {
                    alert('o');
                    return false;
                });

                $(element).append(ok_div);
                $(element).append(del_div);
            },
            eventSources: [
                {
                    url: '/lessons.json'
                },
            ],
        })

    });
</script>