<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li class="<%= 'active' if params[:controller] == 'lesson_types' %>">
    <%= link_to('Lessons types', url_for(lesson_types_path))  %>
  </li>
</ul>